
body{
	background: whitesmoke;
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-wrap:wrap ;
}
#header{
	position: fixed;
	width: 100%;
	background: #092327;
}
nav.nav{
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: 70%;
    margin: 0 auto;
	z-index: 11;
}
ul.menu{
	list-style: none;
	padding: 0;
	text-align: center;
    margin: 0 auto;
}
ul.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
ul.menu li{
	display: inline-block;
	text-align: center;
}
ul.menu li a:hover{
	background: #68bee60e;
	
}
li a .conlogo{
	padding: 0;
}
.logo{

	width: 68px;
    padding: 0;
    margin-bottom: -31px;
	margin-right: 2%;
}

/* ----------------------- footer ----------------------- */
footer{
	align-self: flex-end;
	background-color:  #092327;
	color: white;
	line-height: 3;
	text-align: center;
	width: 100%;
	z-index: 10;
}
/* .social-icons {
    text-align: right;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
} */
